/* text-unit.module.css */
.shadedBox {
    /* background-color: #464646; */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  
    /* Center the text content */
    text-align: center;
  
    /* Margin and spacing */
    margin: 2rem 0;
  
    /* Text styles */
    /* background: linear-gradient(
    90deg,
    var(--color-one),
    var(--color-two),
    var(--color-one)
  ) 0 0 / var(--bg-size) 100%; */
  /* color: transparent; */
  /* -webkit-background-clip: text;
  background-clip: text; */
  /* animation: move-bg 8s infinite linear; */
}
.header {
    font-size: 1.5rem; /* Larger header */
    font-weight: 700; /* Bold */
    margin-bottom: 1rem; /* Space between header and subheader */
}

.subheader {
    font-size: 1.2rem; /* Subheader size */
    font-weight: 600; /* Semi-bold */
    color: #a72929; /* Blue subheader color */
}

.text {
    color: #333; /* Dark text color */
    font-size: 1rem;
    line-height: 1.5;
}


@media (prefers-reduced-motion: no-preference) {
  .heading {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}